<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tec Monkey</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <style>
        body {
            background-color: #dbdbdb;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand"><img src="img/tecM_logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                aria-expanded="false" aria-label="Navegacion">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-link">Inicio<span class="sr-only">(Actual)</span></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Catalogo de articulos</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Promociones</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contacto</a>
                </li>
            </ul>
            <button class="btn btn-dark my-s my-sm-0" type="submit">Iniciar Sesion</button>
            <button class="btn btn-light my-s my-sm-0" type="submit">Registrarse</button>
        </div>
    </div>
</nav>

<div class="container" style="padding-top: 80px">
    <div class="row mt-3">

        <div class="col-10 mt-3">
            <div class="carousel slide" id="secondary-carousel" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#secondary-carousel" data-slid-to="0" class="active"></li>
                    <li data-target="#secondary-carousel" data-slid-to="1"></li>
                    <li data-target="#secondary-carousel" data-slid-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/c1.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption d-block">
                        </div>
                        <img src="img/c2.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="img/c3.png" alt="">
                    </div>
                </div>

                <a href="#secondary-carousel" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>

                <a href="#secondary-carousel" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>

    </div>
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>